@{
    // Define o título da página para uso em <title> e outras partes do layout
    ViewData["Title"] = "Home";
}

@*Descrição do desafio técnico, incluindo as habilidades e tarefas envolvidas*@
<div class="container">    
    <h1 class="mt-4">Bem-vindo ao Paschoalotto Desafio Técnico</h1>
    <p class="lead">        
        O desafio técnico visa avaliar as habilidades do candidato em C#, JavaScript, PostgreSQL e consumo de API. As tarefas incluem
        conectar-se a um banco de dados PostgreSQL, criar uma tabela para armazenar dados de usuários gerados pela API Random User
        Generator, inserir esses dados na tabela e criar um relatório listando todos os usuários armazenados. O código deve ser enviado em
        um repositório público no GitHub e será avaliado pela funcionalidade, eficiência e qualidade.
    </p>
</div>
